<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.record.main.notice.NoticeDAO">

	<select id="getNoticeList" resultType="com.record.main.notice.NoticeVO">
		SELECT N.*, M.* 
		FROM NOTICE N INNER JOIN MEMBER M
		ON N.USERNO = M.USERNO
		ORDER BY NOTICENO DESC
	</select>

	<select id="noticeDetail" resultType="com.record.main.notice.NoticeVO">
		SELECT N.*, M.name
		FROM NOTICE N INNER JOIN MEMBER M
		ON N.USERNO = M.USERNO
		WHERE N.NOTICENO = #{noticeNo}
	</select>

	<update id="hitUpdate">
		UPDATE NOTICE 
		SET HIT = #{hit} + 1
		WHERE NOTICENO = #{noticeNo}
	</update>
	
	<insert id="noticeAdd" parameterType="com.record.main.notice.NoticeVO">
		INSERT INTO NOTICE 
		VALUES(null, #{title}, #{contents}, NOW(), 0, #{userNo}, null)
	</insert>
	
	<update id="noticeUpdate" parameterType="com.record.main.notice.NoticeVO">
		UPDATE NOTICE SET
			TITLE = #{title},
			UPDATEDATE = NOW(),
			CONTENTS = #{contents}
		WHERE NOTICENO = #{noticeNo}			
	</update>	
	
	<delete id="noticeDelete" parameterType="com.record.main.notice.NoticeVO">
		DELETE FROM NOTICE WHERE NOTICENO = #{noticeNo}
	</delete>
	
</mapper>