<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.record.main.notice.NoticeDAO">

	<sql id="forPager">
	  	<choose>
	  		<when test="kind == 'title'">
	  			title
	  		</when>
	  		<otherwise>
	 			contents
	  		</otherwise>
	  	</choose>
	  </sql>

	<select id="getTotal" parameterType="com.record.main.util.Pager" resultType="Long">
		<bind name="pattern" value="'%'+_parameter.getSearch()+'%'"/>
		SELECT COUNT(NOTICENO) 
		FROM NOTICE 
		WHERE <include refid="forPager"></include>
	  	Like #{pattern}
	</select>

	<select id="getNoticeList" resultType="com.record.main.notice.NoticeVO">
		SELECT N.*, M.* 
		FROM NOTICE N INNER JOIN MEMBER M
		ON N.USERNO = M.USERNO
		WHERE
			<include refid="forPager"></include>
			LIKE CONCAT('%', #{search}, '%')
			ORDER BY NOTICENO DESC
			LIMIT #{startRow}, #{lastRow}
	</select>
	
	<!-- 게시판 상세페이지에서 이전 다음글 -->
	<select id="movePage" parameterType="Long" resultType="com.record.main.notice.NoticeVO">

	</select>

	<select id="noticeDetail" resultType="com.record.main.notice.NoticeVO">
		SELECT N.*, M.name
		FROM NOTICE N INNER JOIN MEMBER M
		ON N.USERNO = M.USERNO
		WHERE N.NOTICENO = #{noticeNo}
	</select>

	<update id="hitUpdate">
		UPDATE NOTICE 
		SET HIT = #{hit} + 1
		WHERE NOTICENO = #{noticeNo}
	</update>
	
	<insert id="noticeAdd" parameterType="com.record.main.notice.NoticeVO">
		INSERT INTO NOTICE 
		VALUES(null, #{title}, #{contents}, NOW(), 0, #{userNo}, null)
	</insert>
	
	<update id="noticeUpdate" parameterType="com.record.main.notice.NoticeVO">
		UPDATE NOTICE SET
			TITLE = #{title},
			UPDATEDATE = NOW(),
			CONTENTS = #{contents}
		WHERE NOTICENO = #{noticeNo}			
	</update>	
	
	<delete id="noticeDelete" parameterType="com.record.main.notice.NoticeVO">
		DELETE FROM NOTICE WHERE NOTICENO = #{noticeNo}
	</delete>
	
</mapper>